#game img{
    height: 200px;
    
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "games  payment";
}

#game{
    grid-area: games
}

.payment{
    grid-area: payment !important;
}