body{
    background:whitesmoke;
}

.span{
    height: 20px;
}

.banner{
    padding: 10% 5% 0 2%;
    background-image: url(assets/imgs/rawpixel-559744-unsplash.jpg);
    background-repeat:no-repeat initial;
    background-size: cover;   
}

.container{
    background-color:rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 1fr repeat(5, 30px);
    grid-column-gap: 3%;
    grid-row-gap: 3%;
    grid-auto-flow: column;
    border: 0px solid black; 
}


.item1{
    grid-row: 1/end;
    background-image: url(/assets/alef_img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.item2{
    grid-row: 1/2;
    font-size: 2.5em;
    align-self: end;
}
.item3{
    align-self: center;
}
.item5{
    align-self: center;
}
.item1 img{
    height:200px;
    width: 200px;
}
.item5{
    grid-row: 4;
}

.main{
    height: 300px;
    display: grid;
    grid-template-rows: 2fr repeat(3,1fr);
    background-color:white;
    padding: 2% 5% 0 2%;
}

footer{
    height: 100px;
    background-color: rgb(0,0,0);
}

.project{
    font-size: 2.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}