*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background:#FFFFFF;
    padding: 20px;
}

header > h1{
    text-align: center;
    font-family: Verdana;
}

.result{
    height:400px;
    width:400px;
    background-color: yellow;
    margin:20px auto;
    position: relative;
}
#returnValue{
    text-align: center;
    top:45%;
    left:162px;
    position: absolute;
}

.input{
    margin: 20px auto;
}